 <form method="POST" action="{{action}}" class="bigForm">

    {% for form in forms %}

        <h2>{{form.title}}</h2>

        <div class="inputArea">
            <label for={{form.type}}>{{form.title}}</label>
            <textarea rows="5" name="{{form.type}}" id="{{form.type}}"> {{form.content}} </textarea>
        </div>

    {% endfor %}

    <input type="submit" value="Modifier le contenu">

</form>