<input type="submit" value="{{button}}">

{% for form in forms %}

    <div class="card">
        <div class="cardWrapper">
            {{form.firstName}} {{form.name}}
            <div class="action">
                <div class="modify">{{actions.modify}}</div>
                <div class="delete">{{actions.delete}}</div>
            </div>
        </div>
    </div>

{% endfor %}