{% extends 'backOffice/nav-backOffice/nav-backOffice.html.twig' %}

{% block content %}
    <main class="backOffice-main">
        <div class="buttonAdd"><a href="{{ path('calendar.newDate') }}"><button>Ajouter une nouvelle date</button></a></div>
        {% for data in datas %}
            <div class="card">
                <div class="row dateFormat typo_LB">
                    <div>{{ data.date.format('d-m-Y') }}</div>
                    <div>Horaire: {{ data.startHour.format('H:i')}} - {{data.endHour.format('H:i')}}</div>
                </div>
                <div class="row delivery typo_LR">
                    <div>{{data.deliveryMode.mode}}</div>
                    <div>{% if data.city.name is defined %}{{data.city.name}}{% endif %}</div>
                </div>
                <div class="row action">
                    <div class="buttonEdit"><a href="{{ path('calendar.editDate', {id: data.id}) }}">modifier</a></div>
                    <div>
                        <form onsubmit="return confirm('Etes vous sur de supprimer cette date?')" action="{{path('calendar.delete', {id: data.id}) }}" method="post">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ data.id) }}" >
                            <button class="buttonDelete">suprimer</button>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </main> 
{% endblock %}