{% extends 'backOffice/base-backOffice.html.twig' %}
{% block nav %} 

    <nav>

        <div class="linkList">
            <div class="linkListWrapper">
                <ul>
                    {% if menu is defined %} {% include "backOffice/nav-backOffice/nav_" ~ menu ~ "_SubMenu.html.twig" %} {% endif %}
                </ul>
            </div>
        </div>

        <ul class="iconWrapper">
            <li class="{% if menu is defined and menu == 'home'%}iconActive{% endif %}">
                <a href='/home'>
                    <span class="linkNav">Gestion site</span>
                    <img src="{{ asset('assets/icons/Icon-globe.svg')}}" alt="icone home">
                </a>
            </li>
            <li class="{% if menu is defined and menu == 'customers'%}iconActive{% endif %}">
                <a href='/clients'>
                    <span class="linkNav">Gestion clients</span>
                    <img src="{{ asset('assets/icons/Icon-value.svg')}}" alt="icone mes clients">
                </a>
            </li>
            <li class="{% if menu is defined and menu == 'producer'%}iconActive{% endif %}">
                <a href='/producteurs'>
                    <span class="linkNav">Gestion producteurs</span>
                    <img src="{{ asset('assets/icons/Icon-shop.svg')}}" alt="icone mes producteur">
                </a>
            </li>
            <li class="{% if menu is defined and menu == 'contact'%}iconActive{% endif %}">
                <a href='/messagerie'>
                    <span class="linkNav">Messagerie</span>
                    <img src="{{ asset('assets/icons/Icon-chat.svg')}}" alt="icone messagerie">
                </a>
            </li>
            <li class="{% if menu is defined and menu == 'profil'%}iconActive{% endif %}">
                <a href='/mon-profil'>
                    <span class="linkNav">Mon compte</span>
                    <img src="{{ asset('assets/icons/Icon-woman.svg')}}" alt="icone mon compte">
                </a>
            </li>
            <li>
                <a href='/'>
                    <span class="linkNav">Deconnexion</span>
                    <img src="{{ asset('assets/icons/Icon-logout.svg')}}" alt="icone logout">
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}