{% extends 'pages/backOffice/templateBackOffice.html.twig' %}

{% block body %}
    <div class="main">
        <div class="editForm">
            {{ form_start(form) }}

                <div class="name">
                    {{ form_row(form.name) }}
                </div>

                <div class="firstName">
                    {{ form_row(form.firstName) }}
                </div>

                <div class="adress">
                    {{ form_row(form.adress) }}
                </div>

                <div class="city">
                    {{ form_row(form.city) }}
                    <div class="button-newCity"><a href="/home/producteurs/ajouter-ville">Ajouter une ville à la liste</a></div>
                </div>

                <div class="country">
                    {{ form_row(form.country) }}
                </div>

                <div class="mail">
                    {{ form_row(form.mail) }}
                </div>

                <div class="phone">
                    {{ form_row(form.phone) }}
                </div>

                {# <div class="mute">
                    {{ form_row(form.mute) }}
                </div> #}

                {# <div class="role">
                    {{ form_row(form.role) }}
                </div> #}

                {{ form_widget(form) }}
                <button type="submit">Valider le nouveau producteur</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}