{% extends 'pages/backOffice/templateBackOffice.html.twig' %}

{% block body %}
    <div class="main">
        <div class="editForm">
            {{ form_start(form) }}
                <div class="date">
                    {{ form_row(form.date)}}
                </div>
                <div class="hourSelector">
                    {{ form_row(form.startHour)}}
                </div>
                <div class="hourSelector">
                    {{ form_row(form.endHour)}}
                </div>
                <div class="city">
                    {{ form_row(form.city)}}
                    <div class="button-newCity"><a href="/home/calendrier/ajouter-ville">Ajouter une ville à la liste</a></div>
                </div>
                <div class="mode">
                    {{ form_row(form.mode)}}
                </div>


                {{ form_widget(form) }}
                <button type="submit">Valider la date</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}