{% extends 'pages/backOffice/templateBackOffice.html.twig' %}

{% block body %}
    <div class="main">

        <div class="buttonAddNewDate"><a href="{{ path('profil.edit') }}"><button>Editer mon profil</button></a></div>

            <div class="formCard">
                <div class="row">
                    <h2>Nom</h2>
                    <div class="info">{{ data.name }}</div>
                </div>
                <div class="row">
                    <h2>Prenom</h2>
                    <div class="info">{{ data.firstName }}</div>
                </div>

                <div class="row">
                    <h2>Mail</h2>
                    <div class="info">{{ data.mail }}</div>
                </div>

                <div class="row">
                    <h2>Téléphone</h2>
                    <div class="info">{{ data.phone }}</div>
                </div>
            </div>

    </div>


{% endblock %}