<nav>
	<div class="linkList">
		<div class="linkListWrapper">
			<ul>
				{% include "nav/nav_" ~ current_menu ~ "_SubMenu.html.twig" %}
			</ul>
		</div>
	</div>

	<ul class="iconWrapper">
		<li class="{% if current_menu is defined and current_menu == 'home'%}iconActive{% endif %}">
			<a href='/home'>
				<img src="{{ asset('assets/icons/Icon-globe.svg')}}" alt="icone home">
			</a>
		</li>
		<li class="{% if current_menu is defined and current_menu == 'clients'%}iconActive{% endif %}">
			<a href='/clients'>
                <img src="{{ asset('assets/icons/Icon-value.svg')}}" alt="icone mes clients">
            </a>
		</li>
		<li class="{% if current_menu is defined and current_menu == 'producteurs'%}iconActive{% endif %}">
			<a href='/producteurs'>
                <img src="{{ asset('assets/icons/Icon-shop.svg')}}" alt="icone mes producteur">
            </a>
		</li>
		<li class="{% if current_menu is defined and current_menu == 'mes-messages'%}iconActive{% endif %}">
			<a href='/mes-messages'>
                <img src="{{ asset('assets/icons/Icon-chat.svg')}}" alt="icone messagerie">
            </a>
		</li>
		<li class="{% if current_menu is defined and current_menu == 'mon-compte'%}iconActive{% endif %}">
			<a href='/mon-compte'>
                <img src="{{ asset('assets/icons/Icon-woman.svg')}}" alt="icone mon compte">
            </a>
		</li>
		<li>
			<a href='/'>
                <img src="{{ asset('assets/icons/Icon-logout.svg')}}" alt="icone logout">
            </a>
		</li>
	</ul>
</nav>
